body {
    background-color: lightgray;
}

#signUp {
    text-align: center;
    width: 800px;
    margin: auto;
    border: solid 5px black;
    padding: 20px;
    background-color: lightcoral;
}
label {
    font-style: italic;
    padding: 20px;
    margin: 20px;

}
#userName {
    margin: 10px;
    width: 200px;
    height: 20px;
    font-size: 16px;
}
#password {
    margin: 10px;
    width: 200px;
    height: 20px;
    font-size: 16px;

}
#confirmPassword {
    margin: 10px;
    width: 200px;
    height: 20px;
    font-size: 16px;

}
form {
    padding: 20px;
    margin: 20px;
}