.calculator {
    margin: auto;
    margin-top: 40px;
    width: 50%;
    border: solid 2px black;
    text-align: center;
    background-color: grey;
    height: 400px;
}

.calculator input {
    width: 100px;
    height: 20px;
}


.operators input {
    display: inline-block;
    margin: 5px;
    border: solid 1px black;
    width: 40px;
    height: 40px;
    background-color: white;
    cursor: pointer;  
    position: relative;
    text-align: center;
    font-size: 1.2em;
    
}

.operators input:hover {
    background-color: lightgreen;
}

input {
    margin: 10px;
    text-align: right;
}
.whiteBox{
    border: solid 1px black;
    margin: auto;
    width: 40%;
    background-color: white;
}

.calculator p {
    font-weight: bold;
}